/* 
    Document   : attach_view
    Created on : Nov 6, 2013, 11:24:14 AM
    Author     : om
    Description:
        Purpose of the stylesheet follows.
*/

.form-item.form-type-select{
    display: inline-block;
    width: 24%;
}

.form-item.form-type-select.form-item-projects{
    width: 18%;
}

.form-item.form-type-select.form-item-members{
    width: 18%;
}

.form-item.form-type-textfield.form-item-issues{
    display: inline-block;
    width: 100%;
}

.form-item.form-type-textfield.form-item-start{
    display: inline-block;
    width: 30%;
}

#edit-apply{
    display: block;
}

.form-item.form-type-textfield.form-item-end{
    display: inline-block;
    width: 30%;
    clear: right;
}

#issuesfield{
    width: 20%;
}

#startfield,#endfield{
    width: 67%;
}

#time{
    float: right;
}
