/* 
    Document   : attach_view
    Created on : Nov 6, 2013, 11:24:14 AM
    Author     : om
    Description:
        Purpose of the stylesheet follows.
*/

/* Create invoice page, Search work hour, Search timesheet */
#edit-billable, #edit-projects, #edit-members {
  width: 190px;
}

.page-create-invoice .form-item.form-type-select {
  display: inline-table;
  width: 230px;
}

.page-search-work-hour .form-item.form-type-select {
  display: inline-table;
  width: 230px;
}

.form-item.form-type-select.form-item-billable {
  margin-right: 400px;
}

.page-create-invoice .form-text {
  width: 180px;
}

#edit-apply {
  display: block;
}

.container-inline-date{
  display: inline;
}

/* Invoice report page */
#time {
  float: right;
}

/* Search page */
#edit-uid-wrapper {
  margin-right: 80px;
}

.views-exposed-widget.views-widget-filter-field_invoice_value {
  float: none;
}

#edit-field-project-name-target-id {
  width: 100px;
}

#edit-field-billablenot-billable-value {
  width: 150px;
}

#edit-field-approvednot-approved-value {
  width: 180px;
}

#edit-field-invoice-value {
  width: 110px;
}

tr:hover td {
  background: #FFFEEE;
}

.views-field-field-date, .views-field-field-approvednot-approved, .views-field-field-billablenot-billable {
  width: 70px;
}

.views-field-edit-node, .views-field-field-issue-number, .views-field-field-work-hour {
  width: 50px;
}

/* Add timesheet entry page */
#edit-field-date-und-0-value-datepicker-popup-0 {
  width: 90px;
}

#edit-field-work-hour-und-0-value {
  width: 90px;
}

#edit-field-project-name-und { 
  width: 150px;
}