/* 
    Document   : attach_view
    Created on : Nov 6, 2013, 11:24:14 AM
    Author     : om
    Description:
        Purpose of the stylesheet follows.
*/

.page-create-invoice .form-select{
  width: 120px;
}

.page-create-invoice .form-item.form-type-select{
  display: inline-table;
  width: 150px;
}

.form-item.form-type-textfield.form-item-issues{
  display: block;
}

.form-text{
  width: 150px;
}

.form-item.form-type-textfield.form-item-start{
  display: inline-block;
  width: 200px;
}

.form-item.form-type-textfield.form-item-end{
  display: inline-block;
  width: 200px;
}

#edit-apply{
  display: block;
}

#time{
  float: right;
}

